<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>Write Code</title>
</head>
<body>
    <form action="http://localhost:5050/compile" method="POST" >
        <label for="lang-select">Choose a language:</label><br>
        <select name="lang" required>
            <option value="">--Please choose a language--</option>
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="py">Python</option>
        </select><br>
        <label for="code">CODE here : </label><br>
        <textarea name="code" cols="50" rows="40" placeholder="Your code goes here"></textarea><br>
        <input type="submit" value="Submit"><br>
    </form>
</body>
</html>